<div class="row">
  <div class="small-12 medium-8 columns">
    <h1><%= @list.total %> Finished Job<%= @list.total == 1 ? "" : "s" %></h1>
  </div>
  <div class="small-12 medium-4 columns">
    <%== erb :_search %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Ran At</th>
          <th>Time</th>
          <th>Status</th>
          <th>Job</th>
          <th>Queue</th>
          <th>Args</th>
          <th>Failures</th>
          <th>Error</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @list.page_jobs.each do |job| %>
          <tr>
            <td>
              <a href="<%= link_to "finished/#{job.job_id}" %>"><%= job.job_id %></a>
            </td>
            <td>
              <%== relative_time job.run_at %>
            </td>
            <td><% if job.duration %><%= job.duration_friendly %><% end %></td>
            <td><%= job.status %></td>
            <td>
              <a href="<%= root_path + current_path %>?<%= qparams(job_class: job.job_class) %>"><%= job.job_class %></a>
              <% if job.data['scheduler'].present? %>
                <a href="<%= link_to "schedules/#{job.data['scheduler'].try(:[], 'name')}" %>">
                  <div style="font-size: 80%"><%= job.data['scheduler'].try(:[], 'name') %></div>
                </a>
              <% end %>
            </td>
            <td><%= job.queue %></td>
            <td><pre><%= format_args job %></pre></td>
            <td><%= job.error_count %></td>
            <td><%= format_error job %></pre></td>
            <td>
              <form action="<%= link_to "finished/#{job.job_id}" %>" method="post">
                <input type="hidden" name="_method" value="put" />
                <button class="plain" title="Run Again"><i class="fa fa-refresh"></i></button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%== erb :_pager %>
  </div>
</div>