<div class="row">
  <div class="small-12 columns">
    <h1>Schedule <%= @schedule.name %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= @schedule.name %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @schedule.description %></td>
        </tr>
        <tr>
          <th>Job</th>
          <td><%= @schedule.job_class %></td>
        </tr>
        <tr>
          <th>Args</th>
          <td><%= @schedule.args %></td>
        </tr>
        <tr>
          <th>Schedule</th>
          <td><%= @schedule.expression %></td>
        </tr>
        <tr>
          <th>Enabled</th>
          <td><%= @schedule.enabled %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <% if @schedule.enabled %>
      <form class="form-inline" maction="<%= link_to "/schedules/#{@schedule.name}" %>" method="post">
        <input type="hidden" name="_method" value="Disable" />
        <input type="hidden" name="enabled" value="false" />
        <button class="button alert"><i class="fa fa-trash"></i> Disable</button>
      </form>
    <% else %>
      <form class="form-inline" maction="<%= link_to "/schedules/#{@schedule.name}" %>" method="post">
        <input type="hidden" name="_method" value="Enable" />
        <input type="hidden" name="enabled" value="true" />
        <button class="button"><i class="fa fa-play"></i> Enable</button>
      </form>
    <% end %>
  </div>
</div>
